.jumbotron{
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: rgb(218, 218, 218);
}
#about{
    padding-top: 5rem;
    padding-bottom: 2rem;
}
#project{
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: rgb(218, 218, 218);
}
#contact{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer{
    background-color: black;
    color:white;
}